services:
  backend:
    build:
      context: .                      # root context
      dockerfile: ./backend/Dockerfile
    container_name: task-manager-backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
    command: npm run dev

  frontend:
    build:
      context: .                      # root context
      dockerfile: ./frontend/Dockerfile
    container_name: task-manager-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
    command: npm run dev
